.mainContainer {
  flex: 1;
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding: 0.6rem;
  gap: 0.6rem;
  overflow: auto;
}

.top {
  display: flex;
  border-bottom: 0.5rem solid rgb(150, 207, 138);
  padding: 1rem;
  background-color: rgb(223, 253, 253);
  align-items: center;

  h1 {
    flex: 1;
  }

  .addBtn {
    background-color: rgb(8, 247, 32);
    border: 0.05rem solid black;
    padding: 0.5rem;
  }
}

.bottom {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;

  overflow: hidden;

  .left {
    flex: 3;
    background-color: rgb(223, 253, 236);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    overflow: auto;

    .list {
      display: flex;
      flex-direction: column;
      background-color: rgb(223, 253, 253);
    }
  }

  .right {
    flex: 2;
    background-color: rgb(223, 253, 253);
    padding: 1rem;
    overflow: auto;

    .filler {
      background-image: url("../assets/grass.png");
      background-position: center;
      background-size: cover;
      flex: 1;
    }
  }
}

.createModal {
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  width: 80vw;
  justify-self: center;
}

.editModal {
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  width: 80vw;
  justify-self: center;
}

.detailsModal {
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  width: 80vw;
  justify-self: center;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.815);
  padding: 3rem;
  overflow: auto;
}

.spinner {
  flex: 1;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.456);
}
